*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* font-family: 'Times New Roman', Times, serif; */
}

html,body{
    height: 100%;
    width:100%;
}
body{
    background-color: #F8F8F8;
}
#main{
    height:100%;
    width:100%;
    background-color: rgb(246, 246, 233);
    position:relative;
    padding-top:1px;
}
#nav{
    height:12vh;
    width:100%;
    /* background-color: red; */
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h2{
    /* background-color: aqua; */
    height: 100%;
    width:16%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    letter-spacing: -3px;
    position: relative;
}
#nav h2::after{
    content:"©";
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    position: absolute;
    top:20%;
    right:12%;
}
#nav h2::before{
    content:"model management";
    font-family: gilroy;
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.925);
    letter-spacing: 0.1px;;
    position: absolute;
    bottom:10%;
    right:12%;
}


#nav h3{
    /* background-color: aqua; */
    height: 100%;
    width:19%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size:21px;
    font-weight: 550;
}

#nav h3:nth-last-child(1){
    width:10%;
    
}
#nav h3:nth-last-child(2){
    width:30%;
    
}
#nav h3:nth-last-child(3){
    width:20%;
    
}
#center{
    height:90%;
    width:100%;
    /* background-color: red; */
    padding:2vw;
    position: relative;
}
#content{
    height: 100%;
    width:100%;
    /* background-color: aqua; */
    position: relative;
   
}
#content video{
    height:100%;
    width:100%;
    object-fit: cover;
}
#overlay{
    height: 55%;
    width: 100%;
    position:absolute;
    bottom:0;
    /* background-color: red; */
    padding:3vw;
    color: white;
}
#over1{
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* padding : 5px; */
    margin-bottom: 2vw;;
    /* mix-blend-mode: difference; */
}
#over1 h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:2.8vw;
    font-weight:590;
    letter-spacing: 0.3vw;
}
#over1 h2{
    font-size: 1.2vw;
    padding:2vw 2.2vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    /* background-color: blue; */
    border-radius: 50%;
    border: 1px solid white;
    border-bottom: 3px solid white;
}
#overlay2{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid white;
    padding: 1.5vw 0;
}
#overlay2 h4{
   font-size: 1.3vw;
   font-weight: 500;
}

#overlay2 img{
    height:3vw;
}

#scroll{
    height: 30vh;
    width:100%;
    /* background-color: brown; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y:hidden;
}
#container{
    height:100%;
    width:100%;
    display: inline-block;
    padding: 0vw 1.5vw 1.5vw 1.5vw; 
    
    animation: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
#scroll img{
    /* display: none; */
    height: 85%;
    width:10%;
    margin:2vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;

}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}

#alphabet{
    height:11vh;
    width:100%;
    /* background-color: red; */
    display:flex;
    align-items:center;
    justify-content: center;
    gap:1vw;
    border-top:2px solid black;
    border-bottom:2px solid black;

}
#alphabet h5{
    font-size:1.5vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    border-bottom: 2px solid black;
    letter-spacing:4px;
    margin-right: 2vw;
}
#alphabet h6{
    font-size:1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing:4px;
    padding:0.4vw 0.6vw;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: all ease 0.2s;
}
#alphabet h6:hover{
    border: 2px solid rgb(0, 0, 0);
}

#page2{
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:2vw 5vw;
    
}
#page2-part1{
    height:100%;
    width:50%;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1564485377539-4af72d1f6a2f?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    /* background-position: center; */
    background-repeat: no-repeat;
}
#page2-part2{
    height:100%;
    width:45%;
    /* background-image: url(https://img.freepik.com/premium-photo/women-kurti-with-pant-dupatta_953724-525.jpg?w=360);
    background-size: cover;
    /* background-position: center;  */
    /* background-repeat: no-repeat; */ 
}

#page2-part2 img{
    height:80%;
    width: 95%;
    margin-left: 4vw;
}
#part2-content{
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
    width:95%;
    margin-left: 4vw;
}
#content1{
    padding-top: 1.2vw;
    font-size: 1.1vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.15vw;

}
#content2{
    padding-top: 0.2vw;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: blue; */
    margin-top: -1vw;

}
#a{
    margin-left: 5vw;
    margin-top: -1.5vw;
    letter-spacing:0.5vw;
}



#page3{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 6vw 3vw 5vw 2vw;
    align-items: center;
    justify-content: space-between;
}
#page3-part1{
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#circular{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#circular .circleAnimation{
    animation: anime 10s linear  infinite;
    mix-blend-mode: multiply;
}
#circular .arrows{
    position: absolute;
    mix-blend-mode: difference;
}
@keyframes anime {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}
#text{
    padding-left: 0;
}
#text h6{
    font-size: 1.2vw;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

#page3-part2{
    height: 100%;
    width: 50%;
    /* background-color: aqua; */
    background-image: url(https://images.unsplash.com/photo-1529139574466-a303027c1d8b?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -15vw;
}

#page4{
    width: 100%;
    height: 100vh;
    padding: 2vw 3vw;
    padding-left: 5vw;
}
#page4 img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    
}

#page5{
    height:100%;
    width:100%;
    position:relative;
    padding:5vw 4vw;
}

#page5>h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 3vw;
    /* font-weight: 1000; */
    margin-bottom: 7vh;
    
}

.elem{
    height:15.5vh;
    width:100%;
    /* background-color: red; */
    border-top: 2px solid black;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
    transition: all ease 0.7s;
}
.elem img{
    height:14vh;
    width:8.5vw;
    position:absolute;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    left:12%;
    opacity:0;
    transition: all ease 0.7s;
}

.elem h4{
    font-size:1.1vw;
    text-transform: uppercase;
    font-weight: 600;
    width:6%;
}
.elem #elem-part2{
    width:40%;
    /* background-color: aqua; */
}
#elem-part2 h1{
    font-size: 2.5vw;
    font-weight: 500;
}
#elem-part2 h5{
    font-size: 0.8vw;
    font-weight: 600;
    text-transform: uppercase;
}

.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}

.elem:nth-last-child(1) img{
    left:50%;
}
.elem:nth-last-child(3) img{
    left:50%;
}
.elem:hover{
    background-color: rgba(155, 154, 153, 0.484);
}
.elem:hover img{
    opacity:1;
    left:25%;
}

#page6{
    width: 100%;
    height: 100vh;
    padding: 2vw 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
}
#page6-left{
    width: 45%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1562572159-4efc207f5aff?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}
#page6-content{
    width: 55%;
    height: 100%;
   
}
#page6-content .text{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom:1.5vw;
}
#page6-content .text h1{
    font-family: monument;
    font-size: 4vw;
}
#page6-content .text h4{
    width: 60%;
    font-size: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#page6-content .text {
    font-size: 1.2vw;
}
#page6-img{
    width: 100%;
    height: 50%;
    display: flex;
    gap: 1vw;
}
#left-img{
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1488161628813-04466f872be2?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: 0 20%;
    background-size: cover;
}
#right-img{
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1590926938512-c0d7e5c39abd?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: 0 20%;
    background-size: cover;
}
#page7{
    width: 100%;
    height: 100vh;
    padding: 3vw 5vw 2vw 5vw;
    
}
#page7 img{
    width: 100%;
    height: 100%;
    background-position: center;
    /* background-size: cover; */
    
}
#page8{
    width: 100%;
    height: 100vh;
    padding: 2vw 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
    position: relative;
}

#page8-left{
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1542012252680-7b802edd2570?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}
#page8-right{
    width: 40%;
    height: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
}
#page8-right img{
    width: 95;
    height: 80%;
}
#page8-content{
    display: flex;
    padding-top: 1vw;
}
#page8-content h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.15vw;
    width:45%
}
#page8-content h6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8vw;
    width:40%;
}
#marque{
    margin-top: 5vw;
    height:15vh;
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    /* overflow-x:auto; */ /* scrollable ban jayega */
    overflow-y:hidden; 
    overflow-x:hidden;
    padding:2vw;
    border-top: 2px solid black;
    border-bottom:2px solid black;
}
#marque h1{
    display:inline-block;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family:monument;
    font-weight: 4vw;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color:transparent;
    margin-right: 16px;
    animation-name: move2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes move2{
    from{
        transform:translateX(0);
    }
    to{
        transform:translateX(calc(-100% - 20px)); /*16px+4px(default)*/
    }
}

#blog{
    width: 100%;
    height: 100vh;
    padding: 4vw 5vw;
}
#blog-content{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 5vw;
    padding: 1vw;
    padding-left: 0vw;
    /* background-color: aqua; */
}
#blog-content h3{
    font-family: monument;
    font-size: 3vw;
}
#content{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 5vw;
    /* background-color: red; */
}
#content p{ 
    font-size: 1.5vw;
    font-weight: 500;
    font-family: arial;
}
#content p span{
    border: 1px solid black;
    padding: 3px 9px;
    border-radius: 50%;
    margin-right: 10px;
    text-align: justify;
}
#content1{
    /* background-color: blue; */
    padding:1vw;
}
#content2{
    /* background-color: brown; */
    padding:2vw 1vw 1vw 1vw;
}
#content img{
    width: 100%;
    height: 85%;
    object-fit: cover;
    object-position: 0 20%;
    padding-top: 2vw;

}
#content2 img{
    width: 100%;
    height: 85%;
    object-fit: cover;
    object-position: 0 20%;

}
#footer{
    width: 100%;
    height: 50vh;
    border-top: 2px solid black;
    margin-top: 35px;
    border-bottom: 2px solid black;
    display: flex;
    margin-bottom: 5vw;
    /* background-color: aqua; */
}
#footer h1{
    width: 30%;
    padding: 2vw 6vw;
    font-family: monument;
    position: relative;
} 
#footer h2:nth-child(2){
    width: 20%;
    padding: 2vw 6vw;
    border-right: 2px solid black;
    font-weight: 400;
    text-align: center;
    /* background-color: blueviolet; */
}
#footer h2:nth-child(3){
    width: 20%;
    padding: 2vw 2vw;
    border-right: 2px solid black;
    font-weight: 400;
    text-align: center;
    /* background-color: aquamarine; */
}
#footer div{
    width: 30%;
    /* background-color: blue; */
}
#footer div h2{
    border-bottom: 2px solid black;
    /* margin-top: 2vw;      */
    padding: 2vw;
    font-weight: 400;
    text-align: center;
}
#footer div p{
    padding-top: 2vw;
}
#footer h1::after{
    content: '©️';
    font-family: sans-serif;
    position: absolute;
    right: 30%;
    font-size: 1.8vw;
    top: 10%;
}
#footer h1::before{
    content: "model management";
    font-family: sans-serif;
    top: 25%;
    position: absolute;
    font-size: 1vw;
    letter-spacing: 0;
    font-weight: 400;
    right: 35%;
    color: rgb(76, 76, 76);
}
#footer .icons{
    width: 100%;
    padding-left: 3vw;
    margin-top: 2vw;
}
#footer .icons i{
    font-size: 1.7vw;
    margin-right: 1vw;
}

#end{
    width:100%;
    height:1%;
    /* background-color: aqua; */
}


